<!DOCTYPE html><html lang="en"><head>
<!-- Required meta tags -->
<title>Wappler starter page</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <!-- Custom CSS styles-->
<link rel="stylesheet" href="css/style.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light navbar-expand-lg fixed-top">
  <div class="container"> <a class="navbar-brand" href="#"> App Name </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"> <a class="nav-link" href="#">Home</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#">About</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#">Features</a> </li>
      </ul>
    </div>
  </div>
</nav>
<header id="page-header" class="pb-md-5 pb-5 pb-lg-0">
  <div class="container">
    <div class="row">
      <div id="header-text" class="order-2 order-sm-2 order-md-1 col-12 col-sm-12 col-md-7 col-lg-6">
        <h1 class="display-4">Awesome App</h1>
        <p class="lead"> Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus. </p>
        <button type="button" class="btn btn-light">Learn More</button>
      </div>
      <div id="header-img" class="order-1 order-sm-1 order-md-2 col-12 col-sm-12 col-md-5 col-lg-6"> <img class="img-fluid" src="assets/images/1.jpg"> </div>
    </div>
  </div>
</header>
<section id="features" class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h3 class="section-title">Section Title</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 text-center py-4"> <i class="fa fa-cloud fa-4x text-muted" aria-hidden="true"></i>
        <h5 class="text-info">Feature 1</h5>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque beatae dicta dolores hic porro quam voluptatibus.</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 text-center py-4"> <i class="fa fa-address-book fa-4x text-muted" aria-hidden="true"></i>
        <h5 class="text-info">Feature 1</h5>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque beatae dicta dolores hic porro quam voluptatibus.</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 text-center py-4"> <i class="fa fa-area-chart fa-4x text-muted" aria-hidden="true"></i>
        <h5 class="text-info">Feature 1</h5>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque beatae dicta dolores hic porro quam voluptatibus.</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 text-center py-4"> <i class="fa fa-bolt fa-4x text-muted" aria-hidden="true"></i>
        <h5 class="text-info">Feature 1</h5>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque beatae dicta dolores hic porro quam voluptatibus.</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 text-center py-4"> <i class="fa fa-cog fa-4x text-muted" aria-hidden="true"></i>
        <h5 class="text-info">Feature 1</h5>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque beatae dicta dolores hic porro quam voluptatibus.</p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 text-center py-4"> <i class="fa fa-database fa-4x text-muted" aria-hidden="true"></i>
        <h5 class="text-info">Feature 1</h5>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque beatae dicta dolores hic porro quam voluptatibus.</p>
      </div>
    </div>
  </div>
</section>
<section id="screenshots" class="bg-light">
  <div class="container-fluid px-lg-0 px-3">
    <div class="row align-items-center px-lg-0 no-gutters">
      <div class="col-12 col-lg-4 mx-auto order-lg-2 mb-3">
        <h2>Lorem Ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud officia deserunt mollit exercitation.</p>
        <p>Nullam vitae scelerisque est, sed tempus metus. Donec convallis volutpat enim consequat viverra. Nam blandit est eu ipsum elementum, ac pellentesque nibh placerat. Quisque venenatis pulvinar nulla, non vestibulum urna ultrices accumsan.</p>
        <button type="button" class="btn btn-primary">Learn More</button>
      </div>
      <div class="col-12 col-lg-6 order-lg-1"> <img class="img-fluid" src="assets/images/2.jpg"> </div>
    </div>
    <div class="row align-items-center px-lg-0 no-gutters">
      <div class="col-12 col-lg-4 mx-auto order-lg-1 mb-3">
        <h2>Lorem Ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud officia deserunt mollit exercitation.</p>
        <p>Nullam vitae scelerisque est, sed tempus metus. Donec convallis volutpat enim consequat viverra. Nam blandit est eu ipsum elementum, ac pellentesque nibh placerat. Quisque venenatis pulvinar nulla, non vestibulum urna ultrices accumsan.</p>
        <button type="button" class="btn btn-primary">Learn More</button>
      </div>
      <div class="col-12 col-lg-6 order-lg-2"> <img class="img-fluid" src="assets/images/3.jpg"> </div>
    </div>
  </div>
</section>
<section id="faq" class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <h2>FAQs</h2>
        <p class="lead">Not sure how this app works?</p>
        <p class="text-muted">Here are the answers to some of the most common questions we hear from our appreciated customers</p>
      </div>
      <div class="col-12 col-md-8">
        <ul class="list list-unstyled">
          <li>
            <h5 class="bold">Cras elementum efficitur volutpat?</h5>
            <p class="mt-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec fringilla felis. Vestibulum consequat quam a elementum iaculis. Proin diam erat, porta eleifend lacinia ultrices.</p>
          </li>
          <li>
            <h5 class="bold">Fusce faucibus feugiat faucibus?</h5>
            <p class="mt-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec fringilla felis. Vestibulum consequat quam a elementum iaculis. Proin diam erat, porta eleifend lacinia ultrices.</p>
          </li>
          <li>
            <h5 class="bold">Fusce at mauris elementum?</h5>
            <p class="mt-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec fringilla felis. Vestibulum consequat quam a elementum iaculis. Proin diam erat, porta eleifend lacinia ultrices.</p>
          </li>
          <li>
            <h5 class="bold">Ut vel augue ut neque lobortis semper?</h5>
            <p class="mt-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec fringilla felis. Vestibulum consequat quam a elementum iaculis. Proin diam erat, porta eleifend lacinia ultrices.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<footer id="page-footer" class="bg-dark">
  <div class="container"> <span class="text-muted">Copyright Your Name</span> </div>
</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body></html>