/* CSS Document */
body {
	padding-top: 55px;
}
#page-header {
	padding-top: 120px;
	background: -moz-linear-gradient(-45deg, #35b8b0 0%, #1c799d 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#35b8b0), color-stop(100%,#1c799d));
    background: -webkit-linear-gradient(-45deg, #35b8b0 0%,#1c799d 100%);
    background: -o-linear-gradient(-45deg, #35b8b0 0%,#1c799d 100%);
    background: -ms-linear-gradient(-45deg, #35b8b0 0%,#1c799d 100%);
    background: linear-gradient(135deg, #35b8b0 0%,#1c799d 100%);
}
#header-text {
	color: #fff;
}
#header-img > img {
    -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,.2);
    box-shadow: 0 2px 10px 1px rgba(0,0,0,.2);
}
section {
	padding: 40px 0;
	position: relative;
}
h3.section-title {
	margin-bottom: 30px;
	font-weight: 400;
}
#features i {
	    background: #f9f9f9;
        width: 124px;
    border-radius: 50%;
    height: 124px;
    line-height: 124px;
    border-radius: 50%;
}
#features h5 {
	color: #1b99b9;
	font-weight: 400;
	margin-top: 15px;
	margin-bottom: 15px;
}
#screenshots {
	padding-top: 50px;
}
#screenshots h2 {
	font-weight: 400;
}
#screenshots .row {
	margin-bottom: 80px;
}
#screenshots img {
	    -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,.2);
    box-shadow: 0 2px 10px 1px rgba(0,0,0,.2);
}
#page-footer {
    padding: 15px 0 10px;
    font-size: 12px;
}